Repository akkadotnet/Akka.Hosting, pull requests merged in 2022-12, with the labels that each got.

#169 Better integration with Akka.DependencyInjection
  src/Akka.Cluster.Hosting.Tests/Akka.Cluster.Hosting.Tests.csproj
  src/Akka.Cluster.Hosting.Tests/ClusterSingletonWithDiSpecs.cs
  src/Akka.Cluster.Hosting.Tests/TestHelper.cs
  src/Akka.Cluster.Hosting/AkkaClusterHostingExtensions.cs
  src/Akka.Hosting.TestKit/Akka.Hosting.TestKit.csproj
  src/Akka.Hosting.Tests/DISanityCheckSpecs.cs
  src/Akka.Hosting/AkkaConfigurationBuilder.cs
  src/Akka.Hosting/AkkaHostingExtensions.cs
Labels: akka-cluster, akka-dependency-injection

#170 Proper Akka.NET Dependency Injection: `IRequiredActor<TActor>`
  src/Akka.Hosting.Tests/RequiredActorSpecs.cs
  src/Akka.Hosting/ActorRegistry.cs
  src/Akka.Hosting/AkkaConfigurationBuilder.cs
Labels: actor-registry

#173 Add debug logging options and `WithActorAskTimeout()` extension method
  src/Akka.Hosting.Tests/HostingExtensionsSpec.cs
  src/Akka.Hosting.Tests/Logging/LoggerConfigBuilderSpecs.cs
  src/Akka.Hosting.Tests/UtilSpec.cs
  src/Akka.Hosting/AkkaHostingExtensions.cs
  src/Akka.Hosting/AkkaOptions.cs
  src/Akka.Hosting/HoconExtensions.cs
  src/Akka.Hosting/LoggerConfigBuilder.cs
  src/Akka.Hosting/Properties/FriendsOf.cs
Labels: akka-actor

#171 added documentation for DI features in Akka.Hosting
  README.md
  src/Examples/Akka.Hosting.SimpleDemo/Program.cs
  src/Examples/Akka.Hosting.SqlSharding/Actors/Indexer.cs
  src/Examples/Akka.Hosting.SqlSharding/Program.cs
Labels: documentation, actor-registry, akka-dependency-injection

#174 added `HandOffStopMessage` support to Cluster.Sharding APIs
  src/Akka.Cluster.Hosting/AkkaClusterHostingExtensions.cs
Labels: akka-cluster, configuration
